body{
    background-color:white;
}

p{
    font-size:medium;
    text-align: justify;
}
ul{
    font-size:medium;
}
address{
    font-size: medium;
}
span{
  margin: auto;
  font-size: larger;
  margin-left:200px;
  
  
    

}
h1{
    background-color:rgb(0, 153, 255);
    padding:10px;
    color:white;
    margin: 0;
    
}
h2{
  color: black;
}
div{
    background-color:rgb(230, 243, 250);
    padding:10px;

}
@media screen (max-width:640px){
body { 
        background-color:white;
}

p{
    font-size: medium;
    text-align: justify;
}
ul{
    font-size:medium;
}
address{
    font-size: medium;
}
span{
  margin: auto;
  font-size: larger;
  margin-left:200px;
  
  
    

}
h1{
    background-color:rgb(0, 153, 255);
    padding:10px;
    color:white;
    margin: 0;
    
}
h2{
  color:black;
}
div{
    background-color:rgb(230, 243, 250);
    padding:10px;

}
    

    
}
